# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node_modules
node_modules/
dist/
dist-ssr/

# Local env
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
